{% extends "base.html" %} 
{% load i18n %}

{% block content %}
    {% if items_books %}
        <table class='list'>
            <legend id="legend">{% Trans "List of books" %}</legend>
            <thead>
            <tr>
              <th>{% Trans "Name" %}</th>
              <th>{% Trans "Author" %}</th>
              <th>{% Trans "ISBN" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items_books %}
                <tr>
                  <td><a href="/books/{{ item.id }}">{{ item.name }}</a></td>
                  <td>{{ item.author }}</td>
                  <td>{{ item.isbn }}</td>
                </tr>
            {% endfor %} 
            </tbody>
        </table>
    {% endif %}
    {% if items_movies %}
        <table class='list'>
            <legend id="legend">{% Trans "List of movies" %}</legend>
            <thead>       
            <tr>
              <th>{% Trans "Name" %}</th>
              <th>{% Trans "Director" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                  <td><a href="/books/{{ item.id }}">{{ item.name }}</a></td>
                  <td>{{ item.director }}</td>
                </tr> 
            {% endfor %} 
            </tbody>
        </table>
    {% endif %}
{% endblock %}
