{% extends "base.html" %}
{% block pageClass %}list {% type %}{% endblock %}
{% load i18n %}

{% block content %}
    {% if items %}
        <table class='list'>
            {% if type == 'books' %}
                <legend id="legend">{% Trans "List of books" %}</legend>
                <thead>
                <tr>
                  <th>{% Trans "Name" %}</th>
                  <th>{% Trans "Author" %}</th>
                  <th>{% Trans "ISBN" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                      <td><a href="/books/{{ item.id }}">{{ item.name }}</a></td>
                      <td>{{ item.author }}</td>
                      <td>{{ item.isbn }}</td>
                    </tr>
                {% endfor %} 
                </tbody>
            {% elif type == 'movies' %}
                <legend id="legend">{% Trans "List of movies" %}</legend>
                <thead>       
                <tr>
                  <th>{% Trans "Name" %}</th>
                  <th>{% Trans "Director" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                      <td><a href="/books/{{ item.id }}">{{ item.name }}</a></td>
                      <td>{{ item.director }}</td>
                    </tr> 
                {% endfor %} 
                </tbody>
            {% endif %}
        </table>
    {% else %}
        {% if search is True %}
            <p>{% Trans "Nothing To search" %}</p> 
        {% else %}
            <p>{% Trans "Nothing here!" %}</p> 
        {% endif %}
    {% endif %}
{% endblock %}
