{% extends "base.html" %}
{% block pageClass %}list {{ type }}{% endblock %}
{% load i18n %}

{% block content %}
    {% if items %}
        <legend class="legend">{% blocktrans %}List of {{type}}{% endblocktrans %}</legend>
        <table class='list'>
            {% if type == 'books' %}
                <thead>
                <tr>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "Author" %}</th>
                  <th>{% trans "ISBN" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                      <td><a href="/books/{{ item.id }}">{{ item.name }}</a></td>
                      <td>{{ item.author }}</td>
                      <td>{{ item.isbn }}</td>
                    </tr>
                {% endfor %} 
                </tbody>
            {% elif type == 'movies' %}
                <thead>       
                <tr>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "Director" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                      <td><a href="/books/{{ item.id }}">{{ item.name }}</a></td>
                      <td>{{ item.director }}</td>
                    </tr> 
                {% endfor %} 
                </tbody>
            {% endif %}
        </table>
    {% else %}
        {% if search is True %}
            <p>{% trans "Nothing To search" %}</p> 
        {% else %}
            <p>{% trans "Nothing here!" %}</p> 
        {% endif %}
    {% endif %}
{% endblock %}
