{% extends "base.html" %} 

{% block menu %}
<ul>
  <li id="menu_index"><span class="menu_r"><a href="/"><span class="menu_ar">Home</span></a></span></li>
  <li id="menu_livro" class="highlight"><span class="menu_r"><a href="/catalogo/livros"><span class="menu_ar">Livros</span></a></span></li>
  <li id="menu_filme"><span class="menu_r"><a href="/catalogo/filmes"><span class="menu_ar">filmes</span></a></span></li>
  <li id="menu_about"><span class="menu_r"><a href="/about"><span class="menu_ar">About</span></a></span></li>
</ul>
{% endblock %}

{% block content %}
  {% if latest_list_books %}
  <table id="livros_list">
    <legend id="legend">Lista de Livros</legend>
    <tr>
      <th>Nome</th>
      <th>Autor</th>
      <th>ISBN</th>
    </tr>
    {% for livro in latest_list_books %}
    <tr>
      <td><a href="/catalogo/livros/{{ livro.id }}">{{ livro.name }}</a></td>
      <td>{{ livro.author }}</td>
      <td>{{ livro.isbn }}</td>
    </tr> 
    {% endfor %} 
  </table>
  {% else %}
  <p>{{ error_message }}</p> 
  {% endif %}
{% endblock %}
