{% extends "base.html" %} 
{% block pageClass %}show {{ type }}{% endblock %}
{% load i18n %}

{% block content %}
    {% if item.id %}
        <h2>{{ item.name }}</h2>
        <img id='capa' src='{{ item.photo.url }}' alt='{{ item.photo.name }}' />
        {% if type == 'books' %}
            <p><label>{% trans "Author" %}: </label>{{ item.author }}</p>         
           {% if item.description %}
                <p><label>{% trans "Description" %}: </label>{{ item.description }}</p>
            {% endif %}
            <p><label>{% trans "ISBN" %}: </label>{{ item.isbn }}</p>
        {% else %}
		{% if type == 'movies' %}
            {% if item.year %}
                <p><label>{% trans "Year" %}: </label>{{ item.year }}</p>
            {% endif %}
            <p><label>{% trans "Director" %}: </label>{{ item.director }}</p>
            {% if item.synopsis %}
                <p><label>{% trans "Synopsis" %}: </label>{{ item.synopsis }}</p>
            {% endif %}
            {% if item.cast %}
                <p><label>{% trans "Cast" %}: </label>{{ item.cast }}</p>
            {% endif %}
        {% endif %}
        {% endif %}
        <a class='submarino' href='{{ item.submarino }}'>
            <img
                src='http://i.s8.com.br/images/affiliates/selos/88x31_selo.gif'
                alt='{% trans "Buy on Submarino" %}' 
                title='{% trans "Buy on Submarino" %}' />
        </a>
    {% else %}
        <p>{% trans "Sorry, but not exist this item"%}</p> 
    {% endif %}
{% endblock %}
