{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>{% block title %}{% trans "my own Catalog of things" %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/ctlgr-theme/css/style.css">
  <link rel="stylesheet" media="all" type="text/css" href="/ctlgr-theme/css/menu_style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
</head>
<body class="{% block pageClass %}index{% endblock %}">
  <div id="wrapper">
    <div id="header">
      <p>{% trans "This is the Header" %}</p>		 
    </div>
    <div id="navigation" class="menu bubplastic horizontal blue">
      <ul>
        <li id="menu_index"><span class="menu_r"><a href="/"><span class="menu_ar">{% trans "Home" %}</span></a></span></li>
        <li id="menu_livro"><span class="menu_r"><a href="/books"><span class="menu_ar">{% trans "Books" %}</span></a></span></li>
		<li id="menu_filme"><span class="menu_r"><a href="/books"><span class="menu_ar">{% trans "Movies" %}</span></a></span></li>
        <li id="menu_about"><span class="menu_r"><a href="/about"><span class="menu_ar">{% trans "About" %}</span></a></span></li>
      </ul>
    </div>
    <br class="clearit" />
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      <p>2011@copyleft - Mario Felipe Rinaldi</p>		
    </div>
  </div>
</body>
</html>
